[trhourhand] .hand {
    width: 0;
    height: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 45px solid #000000;
    z-index: 1;
}

[trhourhand] .hand::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 25px solid #ffffff;
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
}